{% extends "base.html"%} {%block cssStyle%}
<link rel="stylesheet" href="../static/css/loginpage.css" />
{%endblock%} {%block header%}
<h2>Welcome {{userName}} <span class="userName"></span></h2>
<div class="settings">
  <button class="btn dropMenu">Settings</button>
  <ul class="dropDown-List">
    <li><button class="manageAccount">Manage Account</button></li>
    <li><button class="btn logout">Log Out</button></li>
  </ul>
</div>
{%endblock%} {%block main %}
<main class="main">
  <container>
    <div class="currentb">
      <div class="balAndAcc">
        <h3>Account number : {{accountNumber}}<span class="acc"></span></h3>
      </div>
      <div class="ballo">
        <h2>Balance :</h2>
        <h2 class="currbal"></h2>
      </div>
    </div>
    <div class="transaction">
      {% for item in transactions %}
      <div class="trans">
        <div class="date"><span class="dateTrans">{{item.date}}</span></div>
        <div class="type"><span class="typeTrans">{{item.type}}</span></div>
        <div class="montant">
          {% if item.amount > 0 %}
          <span
            class="montantTrans"
            style="background-image: linear-gradient(to top, #4bbb7d, #8ce99a)"
            >{{item.amount}}</span
          >
          {% else %}
          <span
            class="montantTrans"
            style="background-image: linear-gradient(to top, #f03e3e, #ff8787)"
            >{{item.amount}}</span
          >
          {%endif%}
        </div>
      </div>
      {%endfor%}
    </div>
    <div class="actions">
      <div class="action virement">
        <h3 style="background: transparent">Transfer Money</h3>
        <form action="" method="post" style="background: transparent">
          {% csrf_token %} {{ transactionTransfer }}
          <input type="submit" value="exe" class="btn btnLoan" />
        </form>
      </div>
      <div class="action emprunt">
        <h3 style="background: transparent">Request a Loan</h3>
        <label for="" class="label"
          >Amount :
          <input type="text" placeholder="Amount to loan" class="loanField"
        /></label>
        <button type="submit" class="btn btnLoan">→</button>
      </div>
      <div class="action supprimer">
        <h3 style="background: transparent">Close Account</h3>
        <label for=""
          >Account number :<input
            type="text"
            placeholder="Account Number"
            class="accNumbClose"
        /></label>
        <label for=""
          >Password: <input type="text" placeholder="Password" class="pass"
        /></label>
        <button class="btn delete">→</button>
      </div>
    </div>
  </container>
</main>
{%endblock%} {%block jsName%}

<script type="module" src="../static/css/script/login.js"></script>

{%endblock%}
