@import "./constant.css";
* {
  margin: 0;
  padding: 0;
  background-color: transparent;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 10px;
}

header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-color);
}

.sticky {
  padding: 1em 5em 2em 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20em;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.icon {
  height: 5rem;
  width: 5em;
}

.logo p {
  font-size: 3em;
}

.navBar {
  width: 100%;
}

.Main-list {
  height: inherit;
}

.Main-list ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 8em;
}
.Main-list ul li {
  font-size: 3em;
}
.Main-list ul li a {
  text-decoration: none;
}

/* Main */

.sections {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  height: 70em;
  gap: 1em;
  margin: 5em auto;
  max-width: 135rem;
}

.options {
  font-size: 1.8em;
  padding: 2em 2em 4em 2em;
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  border: 1px solid black;
  justify-content: space-between;
}
.options a {
  color: black;
}

.fields {
  padding: 3em 0.5em 3em 0;
  display: flex;
  flex-direction: column;
  font-size: 3em;
  border-radius: 1em;
  border: 1px solid black;
  justify-content: space-between;
}

.divField {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 0.25fr 0.6fr 0.15fr;
  padding-left: 1em;
}

.btn {
  height: 2em;
  cursor: pointer;
  font-size: 0.5em;
  border-radius: 2em;
  background-color: beige;
}

.save {
  display: none;
  font-size: 1em;
}

.selections {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.inptFields {
  padding: 0.25em 0 0.25em 1em;
  width: 90%;
  font-size: 0.75em;
  border-radius: 0.5em;
}

.inptFields:focus {
  background-color: beige;
}

.radform label {
  margin: 0 0 0 1em;
}

.radform label input {
  margin-right: 1em;
  height: 1.2em;
  width: 1.2em;
}
